* {
    font-family: Arial, Helvetica, sans-serif;
}

html {
    background-color: rgb(79, 76, 90);
}

:root {
    --pink: rgb(206, 83, 206);
    --lighter-pink: rgb(139, 89, 139);
    --gray: rgb(79, 76, 90);
    --title-border: 1px solid white;
    --hover-shadow: 2px 2px 20px rgb(236, 83, 190);
}

h1 {
    color: var(--pink);
    display: flex;
    justify-content: center;
}

header p {
    color: white;
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 40px;
}

article {
    width: 30%;
    border: 1px dashed white;
    margin-top: 30px;
    display: flex;
    flex-flow: column;
}

.card-title {
    width: 90%;
    border: var(--title-border);
    border-radius: 5px;
    margin: -16px auto 0 auto;
    display: block;
    background-color: var(--gray);
}

h2 {
    color: var(--pink);
    margin: 0px;
    margin-left: 5px;
}

.description {
    margin: 25px 10px 10px 10px;
    color: var(--pink);
    font-size: 14px;
    letter-spacing: 150%;
    width: 100%;
}

.card-code {
    margin: 0 10px;
    border-radius: 5px;
    background-image: linear-gradient(to bottom, var(--lighter-pink), var(--pink));
    padding: 10px;
    margin-bottom: 5px;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    justify-content: center;
}

.code {
    color: white;
    font-size: 14px;
    letter-spacing: 1px;
    margin: 3px 0;
    display: inline-block;
}

ul {
    list-style: none;
    color: white;
    font-size: 14px;
    letter-spacing: 1px;
    margin: 0px;
    padding-left: 20px;
}

li {
    margin: 3px 0;
}

footer {
    display: flex;
    justify-content: center;
    margin: 40px;
}



/* media queries */

@media screen and (min-width: 768px) and (max-width: 992px) {
    
    article {
        width: 45%;
    }

}

@media screen and (max-width: 768px){

    article {
        width: 95%;
    }

    article:hover {
        box-shadow: var(--hover-shadow);
    }

    article:hover .card-title {
        box-shadow: var(--hover-shadow);
    }

    article:hover .code {
        background-color: rgb(112, 219, 183);
        color: black;
    }

    article:hover ul {
        background-color: rgb(112, 219, 183);
        color: black;
    }
    
}